body{
  background-color: rgba(0, 0, 185, 0.8);
  background-image: url(medias/green_grass.jpg);
}
table {
  border: 2px solid black;
}
label{
  font-size: 14px;
  color: white;
}
.team{
  width: 45%;
  height: 300px;
  background-color: rgba(61, 134, 208, 0.5);;
  float: left;
  padding: 10px;
  margin-left: 15px;
  margin-top: 20px;
  font-family: "Helvetica";
}
.teamTitre{
  text-transform: uppercase;
  font-weight: 900;
}
